.name {
  cursor: pointer;
}

.name span {
  display: inline-block;
  min-width: 50px;
  margin-right: 10px;
}
ul {
  list-style: none;
}
input.ng-dirty.ng-invalid,
select.ng-dirty.ng-invalid {
  border: 1px solid red;
}


.form-add-user {
  max-width: 500px;
  margin: 50px auto 0;
}

.error-mess {
  color: red;
  text-transform: uppercase;
  padding: 10px;
  font-weight: bold;
}

.invalidForm input.ng-invalid,
.invalidForm select.ng-invalid{
  border: 1px solid red;
}
