h1 {
  color: black;
}

.left-content {
  width: 300px;
}

.right-content {
  width: 743px;
}

.form-add-user {
  width: 100%;
}


.popup {
  box-shadow: -1px 3px 8px 3px grey;
  padding: 0 0 0 10px;
  position: absolute;
  left: 0;
  bottom: -48px;
  width: 100%;
  z-index: 1;
  background: #fff;
}

.form-add-user .form-group {
  position: relative;

}

.popup div {
  cursor: pointer;
}


.autocomplete{
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  width: 100%;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
}

.autocomplete ul {
  list-style: none;
  padding: 0;
}

.autocomplete ul a {
  padding: 4px 20px;
  display: block;
  transition: all 0.5s;
  cursor: pointer;
}

.autocomplete ul a:hover {
  background: grey;
  color: #fff;
}
